
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: transparent;
    gap: 10px;
    height: 400px;

    margin-top: 100px;
    
    
    
}

.social-media{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.social-media a { 
   font-size: 1.5rem;
   cursor: pointer;
   padding: 20px;
   color: rgb(223, 37, 84);
  
    
}

.whatsapp-icon:hover{

    color: green;
}
.linked-icon:hover{

    color: rgb(28, 45, 109);
}

.ig-icon:hover{
color: rgb(247, 163, 163);
}

.git-icon:hover{
    color: rgb(28, 45, 109);
}




.work-container{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    
    
  
}


.work-container h2{
    width: 100%;
   padding-left: 50px;
}
.my-name{
   color: rgb(223, 37, 84);
   font-size: 3rem;
   letter-spacing: 1px;
   font-weight: 900;
}

.work-text{
    font-weight: 900;
    font-size: 2rem;
}
.webdeveloper-text{
    width: 100%;
    padding-left: 50px;
    font-size: 2rem;
    padding-top: 15px;
}
.btn-container{
    width: 100%;
    padding-left: 50px;
    padding-top: 15px;
}
.contact-btn{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    border: 1px solid  rgb(223, 37, 84) ;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    justify-content: space-evenly;
    font-weight: 900;
   margin-top: 15px;
    cursor: pointer;
    transition: transform 1s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

   
}
.contact-btn:hover {
    background:  rgb(223, 37, 84);
    opacity: 0.9;
    transform: translateY(15%);
}