.project{
 
 margin-top: 400px;
 height: auto;



}

.project-me-words-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: relative;
    
}

.project-words{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.5;
}
.underline-project{
    width: 120px;
    height: 4px;
    background-color:  rgb(223, 37, 84);
    position: absolute;
    bottom: 15px;
    text-transform: capitalize;
}

.project-container{
    display: flex;
height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   
 

}
.project-name-container{
height: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    justify-content: space-evenly;
    padding: 30px;
    

 
    
}
.first-project{
    width: 350px;
    height: 200px;
    background-color: #1f315d;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    border-radius: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
    transition: transform 1s;
    cursor: pointer;
  
}

.first-project a{
    color: rgb(223, 37, 84);;

    text-decoration: none;
}
.first-project:hover{
    transform: translatey(-10%);
    opacity: 0.7;
}
/* .project-name-container{
    height: 100px;
    margin-right: 0px;
    width: 200px;
} */



.project-icon{
    font-size: 35px;
    color:  rgb(223, 37, 84);
   margin-bottom: 10px;

}

.project-name{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 990px){
    .project-name-container{
        display: grid;
        grid-template-columns: 1fr 1fr 

    }
    .project{
        margin-top: 900px;
    }
}

@media screen and (max-width: 770px){
    .project-name-container{
        display: grid;
        grid-template-columns: 1fr  ;

    }
    .project{
        margin-top: 1200px;
    
}
   .made-text{
    color: white;
    padding-top: 20px;
    font-weight: 500;
   }
   
}

@media screen and (max-width: 550px){
    .project-name-container{
        display: grid;
        grid-template-columns: 1fr  ;
        margin-left: 50px;

    }
    .project{
        margin-top: 1500px;
    
}
.first-project{
    width: 250px;
    height: 150px;
}
}
