.skills{
    height: 400px;
  
    margin-top: 100px;
}

.skils-me-words-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: relative;
}

.skils-words{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.5;
}
.underline-skills{
    width: 95px;
    height: 4px;
    background-color:  rgb(223, 37, 84);
    position: absolute;
    bottom: 20px;
}

.skill-container{
    display: flex;
height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   
 

}
.skils-name-container{
height: 450px;

    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    justify-content: space-evenly;
    padding: 30px;
 
    
}
.first-skills{
   
 height: 180px;
    background-color: #1f315d;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
    border-radius: 6px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
    transition: transform 1s;
}

.first-skills:hover{
    transform: translatey(-10%);
}
/* .skil-name-container{
    height: 100px;
    margin-right: 0px;
    width: 200px;
} */



.skills-icon{
    font-size: 35px;
    color:  rgb(223, 37, 84);
   margin-bottom: 10px;

}

.programming-name{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 990px){
    .skils-name-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    
    .skills{
        margin-top: 600px;
    }

}

@media screen and (max-width: 770px){
    .skils-name-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;

    }

    .skills{
        margin-top: 600px;
    }

}

@media screen and (max-width: 550px){
    .skils-name-container{
        display: grid;
        grid-template-columns: 1fr  ;
        margin-left: 50px;

    }

    .skills{
        margin-top: 600px;
    }

    
}
