*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e1b31;;;
    font-family: "Open Sans", sans-serif;
   
}
.hearder-container{
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
   
  


}
.logo{
    text-transform: capitalize;
    color: white;
    font-size: 1.7rem;
    font-weight: 800;
    padding-left: 40px;
}
.nav-icon{
    background-color: #132347;
    padding-right:  15px;
    padding-left: 15px;
    border: 2px solid ;
    border: none;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    cursor: pointer;
    display: none;
}

.nav-icon span {
   font-size: 2.4rem;
}
.postion{
    position: relative;
}
.navlist-conatiner{
    height: 450px;
    background-color: rgb(24, 46, 100);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  
  
}


.nav-list{
    display: flex;
    flex-direction: column;
 
    justify-content: space-evenly;
   
    
}

.nav-list a{

    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
}
.nav-list a:hover{
   color: rgb(223, 37, 84);
   
}


.nav-list a:first-child{
color:  rgb(223, 37, 84);
}

.mode-conatiner{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: end;
    margin-top: 20px;
    
    position: relative;
    align-items: center;

   

}
.mode-btn{
    position: fixed;
    background-color: #132347;
    right: 30px;
    border: 2px solid;
    border: none;
    z-index: 0;
    cursor: pointer;
    
}

.mode-btn span{
    color: white;
    font-size: 30px;
    
}



.nav-list-destop a{
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    font-weight: 900;
    letter-spacing: 0.5;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 20px;
   
   

}

.nav-list-destop a:hover{
    color: red;
   
}

.nav-list-destop a:first-child{
    color: red;
}

.nav-list-destop{
  
    margin-right: 250px;
    max-width: 1135px;
}


.hero{

height: 500px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
align-items: center;



}

.social-media-cotainer{

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


 
}
.work-container{
    height: 300px;

    align-items: center;
    justify-content: flex-start;
    display: inline-flex;
    


}
.linked-icon,.whatsapp-icon,.ig-icon,.git-icon{
    color: rgb(223, 37, 84);
    font-size: 25px;
    cursor: pointer;
  
  
}

.works-text-cotainer{
    justify-content: space-evenly;
    padding: 40px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.whatsapp-icon:hover{

    color: green;
}
.linked-icon:hover{

    color: rgb(28, 45, 109);
}

.ig-icon:hover{
color: rgb(247, 163, 163);
}

.git-icon:hover{
    color: rgb(28, 45, 109);
}


.my-name{
    color: rgb(223, 37, 84);
    font-size: 3rem;
    letter-spacing: 1.5;
}

.work-text{
    font-size: 2rem;
    letter-spacing: 1.5;
    padding-bottom: 20px;
    font-weight: 900;
    transition: transform 1s;
    
}

.webdeveloper-text{

    
    padding-bottom: 20px;
    font-weight: 900;
}

.contact-btn{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid  rgb(223, 37, 84) ;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    justify-content: space-evenly;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 1s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

   
}
.contact-btn:hover {
    background:  rgb(223, 37, 84);
    opacity: 0.9;
    transform: translateY(15%);
}
.contact span{
    font-size: 10px;
    margin-left: 7px;
}

.footer{
    height: 300px;
    background-color:  rgb(223, 37, 84);
    display: flex;
    justify-content: center;
    
}

.follow-text{
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
   
    font-weight: 800;
}
.footer-item{
    width: 450px;
    height: 80px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-icons{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 350px;
}
.footer-icon{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.right-text{
    color: white;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
}

.top-button{
    position: relative;

    display: flex;
   
   justify-content: center;
   align-items: center;
   margin-top: 200px;
   height: 90px;
   

}
.top{
    height: 40px;
   color: rgb(114, 114, 114);
    z-index: 100;
    background-color: #1f315d;;
    position: fixed;
    top: 720px;
    left: 0;
    bottom: 0;
    width: 40px;
    border-radius: 100px;
    border: solid,2px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
}
.top:hover{
background-color: rgb(223, 37, 84);;
}

.top span{
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 920px) {
    .nav-icon{
        display: flex;
    }
    .nav-list-destop{
        display: none;
    }
    .display-nav{
        display: flex;
       
    }
    .hearder-container{
        min-width: none;
    }
    .logo{
        font-size: 1.2rem;
    }
    .display-nav{
        display: flex;
       
    }
    .hero{
       padding-right: 20px;
    }
    .hearder-container{
        width: 100%;
    }
    
 
  }
  @media screen and (max-width: 1050px) {
    .nav-icon{
        display: flex;
    }
    .nav-list-destop{
        display: none;
    }
    .display-nav{
        display: flex;
       
    }
    .hearder-container{
        min-width: none;
    }
    .logo{
        font-size: 1.2rem;
    }
    .display-nav{
        display: flex;
       
    }
    .hero{
       padding-right: 20px;
    }
    .work-text{
        width: 400px;
    }
    .hearder-container{
        width: 100%;
    }
    body{
        overflow-x: hidden;
    }

    .footer{
        margin-top: 400px;
    }
    
  }

  @media screen and (max-width: 660px){
.top{
    position: fixed;
    z-index: 100;
}


  }

  @keyframes slideIn {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideout {
    from {
      transform: translatey(20%);
    }
    to {
      transform: translatey(0);
    }
  }


  .animated {
    animation: slideIn 3s ease forwards;
  }
  .animated2 {
    animation: slideIn 3s  ease-out;
  }